*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
/* font families
    font-family: 'Frank Ruhl Libre', serif;
    font-family: 'Lato', sans-serif;
*/
header{
    height: 100px;
    width: 100%;
    background: #fff;
    z-index: 4;
}
header .pageMenuPreHeader{
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 11px;
    background: #fff;
}
header .pageMenuPreHeader span{
    color: #999999;
}
header .pageMenuHeader{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menuBar{
    height: 100%;
    width: 1380px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .pageMenuHeader .menuBar ul{
    height: 60px;
    width: autos;
    list-style-type: none;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
header .pageMenuHeader .menuBar ul li:hover{
    color: #e15a1d;
}
header .pageMenuHeader .menuBar #menu li{
    font-size: 14px;
    /* font-weight: 600; */
    padding: 14px 28px;
}
.pageMenuHeader .logo{
    width: 95px;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}
.pageMenuHeader .logo img{
    height: auto;
    width: 96px;
    transform: translateY(-20%);
}
.pageMenuHeader .menuBar #helpDesk{
    height: 30px;
    width: auto;  
}
.pageMenuHeader .menuBar #helpDesk li i{
    width: 25px;
    color: #7f7f7f;
}
.pageMenuHeader .menuBar #helpDesk li a{
    padding-right: 20px;
    text-decoration: none;
    font-size: 11px;
    color: #7f7f7f;
}
/* .pageMenuHeader .menuBar #helpDesk li i{
    background: #000000;
    height: 100%;
    width: ;
} */
/* Syw container  secton */
#sywContainer{
    width: 100%;
    height: 615px;
    background-image: url("./syw-compare.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#sywContainer h1 {
    color: #fff;
    font-size: 60px;
    font-family: 'Frank Ruhl Libre', serif;
    text-align: center;
    padding-top: 50px;
    font-weight: 150;
}
#sywContainer p{
    text-align: center;
    color: #333;
    font-size: 15px;
    font-weight: 600;
}

/* @keyframes slideRight {
    0%{
        transform: translateX(0);
    }
    8.33%{
        transform: translateX(0);
    }
    16.66%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    33.33%{
        transform: translateX(0);
    }
    41.66%{
        transform: translateX(0);
    }
    49.99%{
        transform: translateX(0);
    }
    58.32%{
        transform: translateX(0);
    }
    66.65%{
        transform: translateX(0);
    }
    74.98%{
        transform: translateX(0);
    }
    83.31%{
        transform: translateX(0);
    }
    91.64%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(83.5px);
    }
} */
#sywContainer .knobContainer{
    height: 32px;
    width: 1002px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
}
#sywContainer .knobContainer .knob{
    height: 32px;
    width: 32px;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    border-radius: 4px;
    transform: translateX(50%);
}
#sywContainer .knobContainer .stopActive{
    height: 100%;
    width: 83.5px;
    color: #ffffff;
    border-right: 2.5px solid #ffffff;
    display: flex;
    opacity: 0.6;
    justify-content: center;
    align-items: center;
    
}
#sywContainer .knobContainer .stopActive hr{
    width: 100%;
    height: 8px;
    border: none;
    color: #fff;
    background-color: #fff;
}

/* Feature container Section */

.featureBar{
    width: 100%;
    height: 90px;
    background-color: #efefef;
}
.featureBar .featureNavBar{
    height: 100%;
    width: 100%;
    background: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}
.featureBar .featureNavBar ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #608a8c;
    background: #efefef;
}
.featureBar .featureNavBar ul li{
    height: 25px;
    width: 300px;
    text-align: center;
    font-size: large;
    font-weight: bold;

} 
.featureBar .featureNavBar ul li i{    
    font-size: 20px;
}
.featureBar .featureNavBar ul li span{
    padding-left: 15px;
}

/* Video Section */
.videoSection{
    height: 453px;
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.videoSection .videoContent {
    height: 100%;
    width: 87%;
    display: flex;
}
.videoSection .videoContent .video{
    height: 100%;
    width: 805px;
}
.videoContent .outerContent{
    height: 100%;
    width: 516px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.videoContent .outerContent .content{
    height: 165px;
    width: 350px;
    text-align: center;
    color: #333333;
    
}
.videoContent .outerContent .content h1{
    margin: 0 35px;
    font-weight: 100;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 24px;
}
.videoContent .outerContent .content p{
    margin: 15px 0;
    font-size: 16px;
    font-weight: 400;
    word-spacing: 4px;
}

/* Syw Product Tab */
.sywProductTab{
    height: auto;
    width: 100%;
    background: #f4f4f4;
}
.sywProductTab .span{
    height: auto;
    width: 100%;
    font-size: 25px;
    font-family: 'Frank Ruhl Libre', serif;
    text-align: center;
    padding: 60px 0 20px;
}
.sywProductTab .productTabs_tabs{
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
}
.productTabs_tabs .tab_content{
    height: 230px;
    width: 320px;
    text-align: center;
    padding-top: 20px;
}
.productTabs_tabs .tab_content img{
    height: 80px;    
}
.productTabs_tabs .tab_content h5{
    text-align: center;
    padding: 30px 10px 0;
}
/* Grid section */
.grid-container {
    display: grid;
    grid-template-columns: 412px 412px 412px;
    grid-template-rows: 508px 508px;
    grid-gap: 10px;
    margin: 20px 123px 20px;
}
  
.grid-item {
    border: 1px solid transparent;
    padding: 10px;
    text-align: center;
    background: #f7f7f7;
}
.grid-item img{
    width: 300px;
    height: 250px;
    padding: 35px 0px;
}
.grid-item .priceName{
    height: auto;
    width: auto;
}
.grid-item .priceName h3{ 
    color: #333333;
    padding-top: 20px;
}
.grid-item .priceName span{
    color: #7f7f7f;
    font-size: 13px;
}
.grid-item .priceName .price{
    color: #333333;
    padding-bottom: 35px;
}
.grid-item .priceName .price #odd{
    color: #f7f7f7;
    padding-bottom: 35px;
}
.grid-item .priceName button{
    height: 36px;
    width: 116px;
    padding: 7px 14px;
    color: #333;
    border-radius: 8px;
    background: transparent;
    color: #333;
    border: 1px solid #333;
   
}
/* Desktop Quote section */
.DesktopQuote{
    height: 492px;
    width: 100%;
    box-sizing: border-box;
    padding: 80px 107px 60px;
    background: #829c98;
    color: #fff;
}
.DesktopQuote h2{
    font-size: 24px;
    text-align: center;
    padding-bottom: 30px;
}

.DesktopQuote .brandName{
    height: 132px;
    width: 1120px;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 2px solid white;
}
.DesktopQuote .brandName .logoOfBrand{
    height: 100%;
    width: 280px;
    box-sizing: border-box;
    padding: 40px 10px;
    text-align: center;
    opacity: 0.6;
}
.DesktopQuote .brandName .logoOfBrand:hover{
    border-bottom: 4px solid white;
    opacity: 0.8;
    cursor: pointer;
}
.DesktopQuote .brandName .logoOfBrand img{
    height: 30px;
}
.DesktopQuote .brandName .logoOfBrand:active{
    border-bottom: 4px solid white;
    opacity: 1;
}
.lowerQuote{
    height: 160px;
    width: 100%;
    transform: translateY(90%);
    text-align: center;
}
.lowerQuote h3{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
}

/* Payment Section */
.paymentSection{
    width: 100%;
    height: 155px;
    background: #dcd9d9;
    color: #333;
    padding: 30px 10px;
    box-sizing: border-box;
}
.paymentSection h2{
    text-align: center;
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 100;
    margin-bottom: 30px;
}
.paymentSection ul{
    width: 100%;
    height: 40px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
.paymentSection ul li{
    width: 100px;
    height: 100%;
    padding: 0 20px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.paymentSection ul li img{
    max-height: 40px;
    max-width: 64px;
}

/* Footerrrrrrrrrrrrrrrr */
footer{
    height: 430px;
    color: #999999;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 80px 20px;
}
footer ul{
    height: 416px;
    width: 220px;
    list-style-type: none;
    font-size: 13px;
    font-weight: 200;
    line-height: 27px;
}
footer .col .social{
    display: flex;
}
footer .col .social li{
    font-size: x-large;
    padding-right: 15px;
}
footer ul li:hover{
    color: #e15a1d;
    cursor: pointer;
}

/* Site Footer */
.siteFooter{
    height: 100px;
    width: 100%;
    background: #222222;
    border-top: 1px solid white;
    color: #999999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.siteFooter .rowSite{
    height: 65px;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.siteFooter .rowSite .logoSite{
    height: 100%;
}
.siteFooter .rowSite .logoSite img{
    height: 55px;
    margin-right: 5px;
}
.siteFooter .rowSite .copyright{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.siteFooter .rowSite .copyright p a{
    text-decoration: none;
    color: #e15a1d;
}